.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  height: 40vmin;
  display: flex;
  justify-content: center;
}

.App-tail {
  height: 20vmin;
}
.App-link {
  color: #09d3ac;
}

.hanoi-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hanoi-block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  padding: 10px;
}
.hanoi-block {
  height: 20px;
  margin: 2px;
  background-color: lightskyblue;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
}
.hanoi-bottom {
  height: 20px;
  margin: 2px;
  background-color: sandybrown;
  border-width: 1px;
  width: 100%;
}
.hanoi-desc {
  font-size: xx-large;
}

.sol-highlight {
  background-color: lightblue;
  font-weight: bold;
}

.sol-normal {

}